*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #8FBC8F;
}

.body{
    width: 100vw;
    height: 100vw;
}
.headerCima img{
    width: 100%;
}

.headerBaixo img{
    margin-top: 36%;
   /* margin-bottom: -5%; */
    width: 100%;
}

.tituloP{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 2%;
    font-family: 'Playpen Sans', cursive;
    color: aliceblue;
    font-size: 35px;
    margin-left: 38%;
}

.barrinha{
    background-color: #739573;
    border-radius: 50%;
    height: 5px;
    width: 400px;
    align-items: center;
    margin-left: 39%;
    
}
 
/*.imagemTitulo img{
    align-items: center;
    margin-left: 50%;
    padding-top: ;

}*/

.barraPesquisa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50,-50%);
    background: #1D291D;
    height: 40px;
    border-radius: 40px;
    padding: 40px;

}

.pesquisaBnt{
    color: #739573 ;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #739573;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s;
}

.pesquisaTexto{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4;
    line-height: 40px;
    width: 0px;
}

.barraPesquisa:hover > .pesquisaTexto{
    width: 240px;
    padding: 0 6px;
}

.barraPesquisa:hover > .pesquisaBtn{
    background: white;
}

.container{
    background: #1D291D;
    font-size: 20px;
    padding: 3em 2.9em;
    width: 100vw;
    max-width: 55em;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 15em;
    border-radius: 0.6em;

}
